body {
  background: #000;
  font-family: "Lato", sans-serif;
  color: #fff;
}


/* Typography ============================================================ */
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
  opacity: 0.6;
  color: #FF00FF;
}
a.active {
  color: #fff;
}
h2 {
  margin-top: 0;
}


/* Nav ================================================================== */
.navbar-default {
  z-index: 1000;
  border-radius: 0px;
  border: none;
  background: #111;
  background: rgba(0,0,0, 0.5);
  padding: 10px 0 10px 10px;
}
.navbar-default .navbar-brand {
  color: #fff;
  width: 220px;
  height: 40px;
  background: url("images/logo.png") no-repeat;
  background-size: contain;
  text-indent: -9999px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  line-height: 10px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #444;
  color: #eee;
}
.dropdown-menu {
  background: #111;
  background: rgba(0,0,0, 0.5);
}
.dropdown-menu li a {
  color: #fff;
}
.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
  background: #333;
  color: #eee;
}
.menu-sources li a {
  color: #777;
}
.menu-sources li a.active {
  color: #fff;
}



/* Map ================================================================== */
#map {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
}
.mapboxgl-ctrl-nav {
  top: 80px;
}



/* Tooltips ============================================================ */
#features {
  color: #fff;
  font-size: 12px;
  position: absolute;
  background: #111;
  background: rgba(0,0,0, 0.5);
  z-index: 100;
  width: 300px;
  text-shadow: 1px #000;
  padding: 20px;
}
#features .btn-primary {
  margin: 10px 0 0 0;
  background: #FF00FF;
  border: none;
}


/* Source ============================================================== */
#source-meta {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  padding: 20px;
  background: #111;
  background: rgba(0,0,0, 0.5);
  z-index: 100;
}


/* Data ================================================================ */
table {
  margin: 20px 0;
  font-size: 12px;
  color: #ccc;
}
.about-page li.dropdown-sources,
.data-page li.dropdown-sources,
.source-page li.dropdown-sources {
  display: none;
}


/* Misc ================================================================ */
.loader {
  z-index: 2000;
  background: #000;
  color: #666;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
