---
---
<html>
  <head>
    <meta charset=utf-8 />
    <title>{{site.title}}</title>
    <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='{{site.baseurl}}/css/style.css' rel='stylesheet' />

    <!-- Facebook meta tags -->
    <meta name="og:url" content="{{ site.url }}{{ site.baseurl }}" />
    <meta name="og:title" content="Connectivity Atlas" />
    <meta name="og:description" content="Explore how global infrastructure links us all with the Connectivity Atlas." />
    <meta name="og:image" content="{{ site.url }}{{ site.baseurl }}/css/images/logo-fb.png" />
    
    <!-- Twitter card -->
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/css/images/logo-fb.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="{{site.baseurl}}/js/utils.js"></script>

  </head>

  <body{% if page.slug %} class="{{ page.slug }}"{% endif %}>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">Connectivity Atlas</a>
    </div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown dropdown-sources">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sources <span class="caret"></span></a>
          <ul class="dropdown-menu menu-sources" role="menu">
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Themes <span class="caret"></span></a>
          <ul class="dropdown-menu menu-themes" role="menu">
          {% for theme in site.themes %}
            <li><a class="active" href="{{site.baseurl}}{{ theme.url }}">{{ theme.name }}</a></li>
          {% endfor %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/data/">Data</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Share <span class="caret"></span></a>
          <ul class="dropdown-menu menu-share" role="menu">
           <li><a href="https://twitter.com/share?text=Explore how global infrastructure links us all with the Connectivity Atlas.&url={{ site.url }}{{ site.baseurl }}" target="_blank">Twitter</a></li>
           <li><a href="https://www.facebook.com/sharer/sharer.php" target="_blank">Facebook</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  {{content}}


<div class="loader">Loading...</div>

 <script src="{{site.baseurl}}/js/app.js"></script>
  </body>
</html>
